<!DOCTYPE html>
<html lang="en" ng-app="hackedApp">
<head>
    <meta charset="UTF-8">
    <title>Hacked</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="/javascripts/hacked-crtl.js"></script>
</head>
<body ng-controller="hackedCtrl">
<h1>I'm going to be hacked</h1>
<p>
    <input type="button" value="Download Paolo Coelho image & quot" ng-click="getQuot('coelho')">
</p>
<p style="color:red">{{ result }}</p>
<p>
<div image></div>
</p>

</body>
</html>